/build/
/sdkconfig
/sdkconfig.old
/firmware/ms51_debug_app/build/
/third_party/MS51_BSP/
__pycache__/
*.pyc
/.vscode/
/sdcc_port/
/sdcc_probe/
/MS51_code/**/.vscode/
/MS51_code/**/__pycache__/
/MS51_code/**/Objects/
/MS51_code/**/Listings/
/MS51_code/**/*.uvgui.*
/MS51_code/**/*.uvopt
/MS51_code/**/*_uvopt.bak
/MS51_code/**/*_uvproj.bak
/MS51_code/**/desktop.ini
/MS51_code/**/makefile
/firmware/ms51_debug_app/out/
