CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG=y
CONFIG_ESP_CONSOLE_SECONDARY_NONE=y
CONFIG_MS51_DEBUG_UART_ENABLE=y
CONFIG_MS51_DEBUG_UART_BAUD=115200
CONFIG_LOG_DEFAULT_LEVEL_INFO=y
CONFIG_COMPILER_OPTIMIZATION_PERF=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_MS51_WIFI_SSID="MS51-PROGRAMMER"
CONFIG_MS51_WIFI_PASSWORD="12345678"
CONFIG_MS51_WIFI_CHANNEL=1
CONFIG_MS51_WIFI_TX_POWER_QDBM=8
CONFIG_MS51_RST_GPIO=4
CONFIG_MS51_CLK_GPIO=5
CONFIG_MS51_DAT_GPIO=6
CONFIG_MS51_BIT_DELAY_US=20
CONFIG_MS51_PROGRAM_RETRIES=2
